body {

    background-color: #0018A3;
}

main {

    background-color: white;
}

.titulo-central { 

    color: black;
    text-align: center;
}

.urgente {

    color: red;
}

a {

    text-decoration: none;
    color: black;
    border: black solid 5px;
    padding: 5px;
}